<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
   
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="top-1">
                <p>ĐAM MÊ KHÔNG CHỈ Ở TRÊN MÀN ẢNH</p>
                <div class="call"><a href="" class="top_mid">
                        <img height="30px" src="https://cdn-icons-png.flaticon.com/128/6806/6806987.png" alt="">
                        <p>CONTACT |</p>
                    </a>
                    <a href="" class="top_mid">
                        <img height="25px" src="https://cdn-icons-png.flaticon.com/128/9621/9621728.png" alt=""
                            style="background-color: #fa6e4f;">
                        <p>8:00 - 22:00 |</p>
                    </a>
                    <a href="" class="top_mid">
                        <img height="20px" src="https://cdn-icons-png.flaticon.com/128/3616/3616215.png" alt="">
                        <p>090505067</p>
                    </a>
                </div>
                <div>
                    <p>SHOP MÔ HÌNH ANIME</p>
                </div>
            </div>

        </div>
        <div class="bot">
            <div class="bot-1">
                <a href="/">
                    <img height="130px" src="https://mohinhfigure.com/wp-content/uploads/2021/08/figure.jpg" alt="">
                </a>
                <div class="search">
                    <input type="text" placeholder="Tìm kiếm..." style="width:250px">
                    <img height="20px" src="https://cdn-icons-png.flaticon.com/128/622/622669.png">
                </div>
                <div class="congcu">
                    <a href="" class="congcu-1">
                        <p>YÊU THÍCH</p>
                        <img height="30px"
                            src="https://t3.ftcdn.net/jpg/01/03/98/10/240_F_103981090_XHS2eMXAgijVqSyVuRVEFfjYDVVKrM0F.jpg"
                            alt="">

                    </a>
                    <p>|</p>
                    <a href="/shoppingcart" class="congcu-1">
                        <p>GIỎ HÀNG</p>
                        <img height="40px"
                            src="https://t3.ftcdn.net/jpg/04/55/88/86/240_F_455888678_vbjc1Cwv2Ca15Ja9NLZzx4y5yfLACN2Q.jpg"
                            alt="">
                        <p  class="soluong">{{header}}</p>

                    </a>
                    <p>|</p>
                    <a href="/login" class="congcu-1">
                        {{#if img }}
                            <img style="border-radius: 500px;" height="40px" src="{{img}}" alt="" title="{{displayName}}">
                        {{else}}
                         <p>{{user}}</p>
                        {{/if}}
                    </a>
                </div>
            </div>
        </div>
        <div class="tabar">
            <div class="tabar-1">
                <div class="tabar-2">
                    <div class="tb">
                        <img height="20px" src="https://cdn-icons-png.flaticon.com/128/7711/7711100.png" alt=""
                            style="background-color:#fa6e4f;">
                        <p>DANH MỤC SẢN PHẨM</p>
                    </div>
                    <div class="tabar-hover">
                        <a  href="/anime" class="tabar-hover__item">
                            <p>Mô hình Anime</p>
                            <hr>
                        </a  href="">
                        <a  href="" class="tabar-hover__item">

                            <p>Mô hình game</p>
                            <hr>
                        </a  href="">
                        <a  href="" class="tabar-hover__item">

                            <p>Figma</p>
                            <hr>
                        </a  href="">
                    </div>

                </div>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">TRANG CHỦ</a>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">GIỚI THIỆU</a>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">CẨM NANG</a>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">KHUYẾN MÃI</a>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">TIN TỨC</a>
                <a href="" style="color:black;font-size:15px;margin:15px 0px 0px 20px">LIÊN HỆ</a>
            </div>
           
        </div>
        
    </div>
</body>

</html>